<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se a requisição é para um arquivo ou diretório existente, permite o acesso
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redireciona todas as outras requisições para o index.html
  RewriteRule ^ index.html [L]
</IfModule>
